$basefont: Helvetica Neue, sans-serif;


$brand-primary:         #CFE3F7;
$brand-secondary:       #B2986A;
$brand-dark:            #11182C;
$brand-light:           #F3E6C7;

$color-success:         #4caf50;
$color-info:            #5bc0de;
$color-warning:         #f0ad4e;
$color-error:           #e74c3c;

$body-bg:               #262F45;

$gray:                  #596F92;
$gray-light:            #9AA6BA;
$deep-blue:             #2C4770;
$white:                 #ffffff;